# .NET build and runtime files
*.obj
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.log
bin/
obj/
[Aa][Rr][Tt]/

# Visual Studio files
.vscode/
.vs/
*_i.c
*_p.c
*.suo
*.sln.docstates
*.suo
*.user
*.userosscache
*.suo
*.suo